<html>
  <head>
      <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
      <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    	<script type="text/javascript" src="{{url_for('static',filename='js/applicationform.js')}}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->
  </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('admin.search') }}">Search</a></li>
            <li><a href="{{ url_for('admin.applicationform') }}">Registration Form</a></li>
              <li><a href="{{ url_for('admin.student_table') }}">Students Details</a></li>
              <li><a href="{{ url_for('admin.fees_table') }}">School Ledger</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row">
        <div class="col-sm-12">

            <legend>Application Id: {{data.id}}</legend>
            <legend>Name: {{data.student_name}}</legend>
        </div>
        <!-- panel preview -->
        <div class="col-sm-5">
            <h4>Add payment:</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="description" name="description" required>
                                <option>Dress Fees</option>
                                <option>Stationary</option>
                                <option>Monthly Fees</option>
                                <option>Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="amount" name="amount" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- / panel preview -->
        <div class="col-sm-7">
            <div class="row">
                <div class="col-xs-12">
                    <hr style="border:1px dashed #dddddd;">
                    <!-- replace 'submitForm' with the api you want to call when the data needs to be sumitted -->
                    <form class="dummy-form" action="/fees" method="post">                        <!-- use request.form.get('request_form_data') to get this data in flask -->
                        <input type="hidden" class="dummy-hidden-input" name="request_form_data" value=""/>
                        <input id="application_id" name = "application_id" type="hidden"
                               value="{{data.id}}"  />
                    </form>
                    <button class="btn btn-primary btn-block" style="margin-top:15%;">Submit</button>
                </div>
            </div>
        </div>
	</div>
</div>
<script>

    function calc_total(){
    var sum = 0;
    $('.input-amount').each(function(){
        sum += parseFloat($(this).text());
    });
    $(".preview-total").text(sum);
}
$(document).on('click', '.input-remove-row', function(){
    var tr = $(this).closest('tr');
    tr.fadeOut(200, function(){
    	tr.remove();
	   	calc_total()
	});
});

function myFunction(){
    var rows = [];

    $('.table.preview-table tbody tr').each(function(){
        var row_json = {}
        $(this).find('td').each(function(index){
            if (index === 0){
            console.log($(this).text());
                row_json['Description'] = $(this).text()
            }else if(index === 1){
            console.log($(this).text());
                row_json['Amount'] = $(this).text()
            }else if(index === 2){
            console.log($(this).text());
            swal("Hello world!");
                row_json['Date'] = $(this).text()
            }
        })
        rows.push(row_json)

    })
    rows = JSON.stringify(rows)
    console.log(rows)
    $('.dummy-hidden-input').val(rows)
    $('.dummy-form').submit();
}
$(function(){
    $('.btn-block').click(function(){
        var form_data = {};
        form_data["amount"] = parseFloat($('.payment-form input[name="amount"]').val()).toFixed(2);
        form_data["description"] = $('.payment-form #description option:selected').text();
        form_data["date"] = $('.payment-form input[name="date"]').val();
        if (form_data['date']===""){
         swal("Enter Date");
         return false;
         }
        rows = JSON.stringify(form_data)
    console.log(rows)
    $('.dummy-hidden-input').val(rows)
    $('.dummy-form').submit();
    });
});
</script>
  </body>
</html>